* {
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-family:'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial, sans-serif
}

body {
	background: linear-gradient(
		90deg,
		rgba(48,16,2551,1)0%,
		rgba(100,115,225,1)100%
	);
}

.todo-app{
	display: flex;
	flex-direction: column;
	justify-content: start;
	width: 520px;
	background: #161a2b;
	min-height: 600px;
	text-align: center;
	margin: 128px auto;
	border-radius: 10px;
	/* padding-bottom: 32px; */
}

h1{
	margin: 32px 0;
	color: #fff;
	font-size: 24px;
}

.complete{
	text-decoration: line-through;
	opacity: 0.4;
}

.todo-form{
	/* margin-bottom: 32px; */
}

.todo-input{
	padding: 14px 32px 14px 16px;
	border-radius: 4px 0 0 4px;
	border: 2px solid #5d0cff;
	outline: none;
	width: 320px;
	background: transparent;
	color: #fff;

}

.todo-input::placeholder{
	color:#e2e2e2
}